# This file holds secrets for use by shell scripts.
# All files in this directory are sourced by .bashrc.
# Export secrets as environment variables to use.
#
# EXAMPLE:
# export darkSkyKEY="123456789012345678901234567890"
