# This file holds secrets for use by shell scripts.
# All files in this directory are sourced by .bashrc.
# Export secrets as environment variables to use.
#
# EXAMPLE:
# export darkSkyKEY="<SECRET_GOES_HERE>"

# DarkSky API key
export darkSkyKEY="<SECRET_GOES_HERE>"

# healthcheck.io id's
# ex. https://hchk.io/${HCID_CRON-JOB-NAME}
export HCID_HOMEBKUP="<SECRET_GOES_HERE>"

# Digital Ocean API key used by doctl utility
export DIGITALOCEAN_ACCESS_TOKEN="<SECRET_GOES_HERE>"
